

<html>
<head>
	<title> Donia's CV </title>
</head>
<body>
    
        <h1>Hi, I'm Donia!</h1>
        <br>
        <img src="1.jpg" class="centerAvatar" alt="Avatar" height="150" width="150">
        <br>
        <p>I'm a newly Computer Science graduate.<br>Scroll down to learn more about me.</p>
        <p><a href="https://www.linkedin.com/in/donia-wakid-44988b154/" target="_blank"><img src="linkedin.png" height="15" width="15" /></a> | Donia Wakid | 052-5641679 |  donia.ib@hotmail.com </p>
        <br><br>
        <h2 class="title"><b>Hobbies</b></a></h2>
			<p> Some of my hobbies are:<br> 
			Swimming<br>
			Playing basketball<br>
			Hiking<br>
			<br><br>
			</p>
		 <h2 class="title"><b>Skills</b></a></h2><br>
		 <p> C, C++, C#, Java, HTML and now also PYTHON! </br>
		 <br> <br>
		 
		 <p> My strengths are being highly motivated, creative and hard worker </p>
		 <p> My weaknesses are being shy and not confident enough </p>

</body>
</html>
